@use "../abstracts" as a;

.sign-up {
  display: grid;
  grid-template-columns: 37.5% 62.5%;
  height: 100%;

  &__info {
    display: grid;
    grid-template-rows: 1fr auto 1fr;

    .section {
      &:first-of-type {
        align-self: flex-end;
      }
      &:last-of-type {
        align-self: flex-start;
      }
    }

    &__text {
      h2 {
        padding-block: 0.75rem;
      }
      padding-bottom: 2rem;
    }

    &__submit__login {
      padding-top: 0.25rem;
    }
  }
}
