@use "../abstracts" as a;

.sign-up {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;

  &__info {
    display: grid;
    grid-template-rows: 35% 30% 35%;

    div {
      &:first-of-type {
        align-self: flex-end;
      }
      &:last-of-type {
        align-self: flex-start;
      }
    }
  }
}
