@use "../abstracts" as a;

.sign-up {
  display: grid;
  grid-template-columns: 37.5% 62.5%;
  height: 100%;

  &__info {
    display: grid;
    grid-template-rows: 1fr auto 1fr;

    [class^="section"] {
      padding: 1.5rem 3rem;
      margin-block: 0.5rem;
    }

    .section {
      &:first-of-type {
        align-self: flex-end;
      }
      &:last-of-type {
        align-self: flex-start;
      }
    }

    &__text {
      h2 {
        padding-block: 0.5em;
      }
    }
  }
}
