@use "../abstracts" as a;

.form {
  padding-bottom: 0.5rem;
  h2 {
    padding-bottom: 1.25rem;
  }
  &__data {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    gap: 1rem;

    > * {
      > label {
        text-transform: uppercase;
        @include a.text-setting("xs");
        font-weight: 600;
        letter-spacing: 0.1rem;
      }
      > input {
        @include a.text-setting("sm");
        border: 0.0625rem solid a.theme-color("light", "base", -0.6);
        border-radius: a.$border-radius;
        padding: 0.25rem;
        color: a.theme-color("light");
        line-height: unset;
        background-color: a.theme-color("foreground", "dark");
        width: 80%;
      }
      > input:focus,
      > input:focus-visible {
        outline: none;
        border-color: a.theme-color("primary");
        box-shadow: a.$box-shadow;
      }
    }
  }
}
