@use "../abstracts/" as a;

[class^="section"] {
  padding-block: 1rem 1.25rem;
  padding-inline: 3rem;
  margin-block: 0.25rem;
}

.section {
  color: a.theme-color("light", "base");
  background-color: a.theme-color("background");
  width: 90%;
  &__float {
    color: a.theme-color("light", "base");
    background-color: a.theme-color("foreground");
    box-shadow: a.$box-shadow;
  }
}
