@use "../abstracts/" as a;

.section {
  color: a.theme-color("light", "base");
  background-color: a.theme-color("background", "base");
  &__float {
    color: a.theme-color("light", "base");
    background-color: a.theme-color("background", "light");
  }
}
