@use "../abstracts" as a;

.background-image-float {
  color: a.theme-color("light");
  background-image: url("/images/tom-barrett-hgGplX3PFBg-unsplash.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__credit {
    @include a.text-setting("xs");
    padding: 0.5rem;
    a {
      text-decoration: underline;
    }
  }
}
