// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
@use "../abstracts" as a;

.button {
  background-color: a.theme-color("primary");
  color: a.theme-color("dark", "base");
  box-shadow: a.$box-shadow;
  margin-block-end: 2rem;
  padding: 0.675rem 2.75rem;
  border: 0.125rem solid transparent;
  border-radius: a.$border-radius;
  cursor: pointer;
}

.button:focus-visible {
  box-shadow: none;
  outline: none;
  border-color: a.theme-color("primary", "light");
  background-color: a.theme-color("primary", "light");
}

.button:hover:not(:disabled) {
  background-color: a.theme-color("primary", "dark");
  border-color: a.theme-color("primary", "dark");
}

.button:focus {
  border-color: a.theme-color("background");
  outline: 0.0675rem solid a.theme-color("primary");
}

.button:disabled {
  background-color: a.theme-color("primary", "disabled");
  color: a.theme-color("dark", "disabled");
  cursor: default;
}

.button:active:not(:disabled) {
  background-color: a.theme-color("primary", "light");
  border-color: a.theme-color("primary", "light");
  outline: none;
}
