// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
@use "../abstracts" as a;

.button {
  @include a.text-setting("base");
  background-color: a.theme-color("primary", "base");
  color: a.theme-color("dark", "base");
  margin-block-end: 2rem;
  padding: 0.75rem 3rem;
  border-radius: a.$border-radius;
}
