@use "sass:color";
@use "../abstracts" as a;

.logo-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 100%;
  margin-top: 40%;
  background-color: a.theme-color("background", "base", -0.3);

  h1 {
    text-transform: capitalize;
    @include a.text-setting("xl");
    font-family: a.$font-stack-accent;
    color: a.$color-text-light;
    margin-block: 0;
  }

  &__image {
    padding-block: 2%;
    height: inherit;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}
