/**
 * Basic typography style for copy text
 */
@use "../abstracts/" as a;

//Import Roboto font family
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");

h1,
h2,
h3 {
  font-family: a.$font-stack-text;
  color: a.$color-text-light;
}

h2 {
  font-size: a.$font-size-600;
}

h3 {
  font-size: a.$font-size-500;
}

a {
  &:visited,
  &:active {
    color: a.$color-accent;
  }
}

body {
  @include a.color-scheme(a.$scheme-base...);
  // font-family: a.$font-stack-text;
  font-size: a.$font-size-400;
  // color: a.$color-text-dark;
}
