/**
 * Basic typography style for copy text
 */
@use "../abstracts/" as a;

//Import Roboto font family
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");

h1 {
  @include a.text-setting("xl");
}

h1,
h2,
h3 {
  font-family: a.$font-stack-text;
}

h2 {
  @include a.text-setting("md");
  font-weight: 600;
}

h3 {
  @include a.text-setting("base");
}

a {
  &:visited,
  &:active {
    color: a.$color-accent;
  }
}

body {
  font-family: a.$font-stack-text;
  background-color: a.theme-color("background", "base");
  @include a.text-setting("base");
}

button {
  @include a.text-setting("base");
}
