// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
@use "sass:color";

/// Regular font family
/// @type List
$font-stack-text: "Roboto", "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

/// Accent font family
/// @type List
$font-stack-accent: "norsebold", "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

/// Code (monospace) font family
/// @type List
$font-stack-code: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco", monospace !default;

// Text base font size
$base-font-size: 1rem;

// Text line height
$base-line-height: 1.25 * $base-font-size;

// Text font sizes
$text-settings: (
  "xs": (
    font-size: 0.75rem,
    line-height: $base-line-height * 0.75,
  ),
  "sm": (
    font-size: 0.875rem,
    line-height: $base-line-height * 0.875,
  ),
  "base": (
    font-size: $base-font-size,
    line-height: $base-line-height,
  ),
  "md": (
    font-size: 1.375rem,
    line-height: $base-line-height * 1.375,
  ),
  "lg": (
    font-size: 2rem,
    line-height: $base-line-height * 2,
  ),
  "xl": (
    font-size: clamp(3.5rem, 12vw + 1rem, 6rem),
    line-height: $base-line-height * 3.5,
  ),
);

// -----------------------------------------------------------------------------

/// Primary color
/// @type Color
$color-primary: hsl(28, 86%, 65%);

/// Accent color
/// @type Color
$color-accent: hsl(28, 86%, 65%);

/// Main text color
/// @type Color
$color-text-light: hsl(0, 0%, 87%);

/// Accent text color
/// @type Color
$color-text-dark: hsl(196, 95%, 8%);

/// Foreground color
/// @type Color
$color-foreground: hsl(196, 95%, 28%);

/// Background color
/// @type Color
$color-background: hsl(196, 95%, 18%);

/// Theme colors
/// @type table
$theme-colors: (
  "primary": (
    "light": lighten($color-primary, 5),
    "base": $color-primary,
    "dark": darken($color-primary, 5),
    "disabled": color.adjust($color-primary, $alpha: -0.65),
  ),
  "accent": (
    "light": lighten($color-accent, 5),
    "base": $color-accent,
    "dark": darken($color-accent, 5),
    "disabled": color.adjust($color-accent, $alpha: -0.5),
  ),
  "light": (
    "light": lighten($color-text-light, 5),
    "base": $color-text-light,
    "dark": darken($color-text-light, 5),
    "disabled": color.adjust($color-text-light, $alpha: -0.5),
  ),
  "dark": (
    "light": lighten($color-text-dark, 5),
    "base": $color-text-dark,
    "dark": darken($color-text-dark, 20),
    "disabled": color.adjust($color-text-dark, $alpha: -0.5),
  ),
  "foreground": (
    "light": lighten($color-foreground, 5),
    "base": $color-foreground,
    "dark": darken($color-foreground, 5),
    "disabled": color.adjust($color-foreground, $alpha: -0.5),
  ),
  "background": (
    "light": lighten($color-background, 5),
    "base": $color-background,
    "dark": darken($color-background, 5),
    "disabled": color.adjust($color-background, $alpha: -0.5),
  ),
);

// -----------------------------------------------------------------------------

/// Shadow
/// @type Function
$box-shadow: 0.125rem 0.125rem 0.375rem color.adjust($color-background, $lightness: -15%, $alpha: -0.65);

// -----------------------------------------------------------------------------

/// Border radius
/// @type Length
$border-radius: 0.5em;

// -----------------------------------------------------------------------------

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

// -----------------------------------------------------------------------------
/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  "small": 320px,
  "medium": 768px,
  "large": 1024px,
) !default;

// -----------------------------------------------------------------------------

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: "." !default;
