// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Big text font family
/// @type List
$font-stack-xl: "norsebold", "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

/// Regular font family
/// @type List
$font-stack-text: "Roboto", "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

/// Code (monospace) font family
/// @type List
$font-stack-code: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco", monospace !default;

// Big text font size
$font-size-xl: clamp(3.5rem, 12vw + 1rem, 6rem);
$font-size-600: 2rem;
$font-size-500: 1.5rem;
$font-size-400: 1rem;

// -----------------------------------------------------------------------------

/// Main color
/// @type Color
$color-main: hsl(196, 95%, 23%);

/// Accent color
/// @type Color
$color-accent: hsl(28, 86%, 65%);

/// Main text color
/// @type Color
$color-text-light: hsl(0, 0%, 87%);

/// Accent text color
/// @type Color
$color-text-dark: hsl(196, 95%, 8%);

/// Background dark color
/// @type Color
$color-background-dark: hsl(196, 95%, 13%);

/// Background dark color
/// @type Color
$color-background-light: hsl(196, 95%, 18%);

// -----------------------------------------------------------------------------

/// Main gradient
/// @type String
$gradient-main: to top left;

// -----------------------------------------------------------------------------

/// Base scheme
/// @type Variable
$scheme-base: $color-text-light, $color-background-dark;

/// Float scheme
/// @type Variable
$scheme-float: $color-text-light, $color-background-light;

/// Overlay scheme
/// @type Variable
$scheme-overlay: $color-text-light, $color-background-dark;

/// Accent scheme
/// @type Variable
$scheme-accent: $color-text-dark, $color-accent;

// -----------------------------------------------------------------------------

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

// -----------------------------------------------------------------------------
/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  "small": 320px,
  "medium": 768px,
  "large": 1024px,
) !default;

// -----------------------------------------------------------------------------

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: "." !default;
